#left_button{
	float:left;
}

#right_button{
	float:right;
}

#mini_pics{
	text-align: center;
	min-height: 100px;
}
#mini_pics img{
	width: 50px;
	height: auto;
	padding: 0 10px 0 10px;
}
#mini_pics img:hover{
	width: 130px;
	height: auto;
}

#inner_div{
}